@media (max-width: 500px) {
    #modal .content {
        width: 320px;
    }
}


@media (max-width: 900px) {
    #page-home {
        background-position: 70vw;
    }
    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position: 40vw;
    }
}

@media (max-height: 760px) {
    #page-home header {
        margin-top: 10px;
    }
    #page-home header a {
        bottom: 10px;
    }
    #page-home {
        background-position-y: 50px;
    }
    
    #page-home main h1 {
        font-size: 27px;
    }
    #page-home main p {
        font-size: 20px;
        line-height: 38px;
        margin-top: 0px;
    }
    #page-home main a {
        margin-top: 0px;
    }
}